services:
  api:
    build: .
    container_name: minimarket_api
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:15
    container_name: minimarket_db
    environment:
      POSTGRES_USER: ferxav_backend
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: minimarket_jk
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: